<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A</title>
</head>
<body>
    <div class="btn-group">
<!--        북마크 추가시 url + add/ 로 이동-->
        <a href="add/" class="btn btn-inf">북마크 추가</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Site</th>
                <th scope="col">URL</th>
                <th scope="col">Modify</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>

        <tbody>
<!--        #g-->
            {% for bookmark in object_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="detail/{{ bookmark.id }}">{{ bookmark.site_name }}</a></td>
                <td><a href="{{ bookmark.url }}" target="_blank">{{ bookmark.url }}</a></td>
                <td><a href="update/{{ bookmark.id }}" class="btn btn-success btn-sm">수정</a></td>
                <td><a href="#" class="btn btn-danger btn-sm">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>